<h2 id='title'>Linl</h2>

{{#if session.isAuthenticated}}
  <button {{ action 'invalidateSession'}}>Logout</button>
  <ul>
    <li>{{link-to 'Home' 'user'}}</li>
    <li>{{link-to 'Protected' 'user.protected'}}</li>
    <li>{{link-to 'Setup' 'setup.personal'}}</li>
  </ul>

{{else}}
  {{link-to 'Login' 'login'}}
  {{link-to 'Sign up' 'signup'}}
{{/if}}



{{outlet}}
