<form>
  <fieldset {{bind-attr class='partnerVisible:col-xs-6:col-xs12'}}>
    <legend>You</legend>
    <div>
      <label>Birthdate</label>
      {{view Ember.TextField type='date' value=fields.date}}
    </div>
    <div>
      <label>State</label>
      {{view Ember.Select content=states 
        optionValuePath="content.value" optionLabelPath="content.label" }}
    </div>
    <div>
      <label>Current Yearly Earnings</label>
      {{input type='currency' value=fields.current_earnings_cents placeholder=0}}
    </div>
    <div>
      <label>Spouse/Partner?</label>
      {{view Ember.Select content=partner_statuses selection=partner_status}}
    </div>
  </fieldset>
  <fieldset {{bind-attr class='partnerVisible:col-xs-6:hidden'}}>
    <legend>{{controller.partner_status}}</legend>
    <div>
      <label>Name</label>
      {{input value=fields.partner.name}}
    </div>
    <div>
      <label>Birthdate</label>
      {{view Ember.TextField type='date' value=fields.partner.date}}
    </div>
    <div>
      <label>State</label>
      {{view Ember.Select content=states 
        optionValuePath="content.value" optionLabelPath="content.label" }}
    </div>
    <div>
      <label>Current Yearly Earnings</label>
      {{view Ember.TextField type='currency' value=fields.partner.current_earnings_cents placeholder=0}}
    </div>
  </fieldset>
  <a href="#" {{action "saveChangesTransition"}} class="btn btn-success">Next</a>
</form>
