<form>
  <fieldset>
    <legend>You</legend>
    <div>
      <label>Year to retire</label>
      {{view Ember.Select content=hundredYears value=fields.retirement_age}}
    </div>
    <div>
      <label>Final Year Earnings</label>
      {{view Ember.TextField type='currency' value=fields.final_year_earnings_cents placeholder=0}}
    </div>
    {{#each acct in retirement_accounts}}
      {{acct.name}}
    {{/each}}
    <div>
      <label>Pension/401k/Social Security?</label>
      {{view Ember.Select content=retirementAccounts selection=retirementAccount}}
    </div>
    <fieldset>
      <legend>{{controller.retirementAccount}}</legend>
      <div {{bind-attr class='isPension::hidden'}}>
        <div>
          <label>Initial Annual Pension</label>
          {{view Ember.TextField type='currency' value=fields.annual_pension_cents placeholder=0}}
        </div>
        <div>
          <label>Pension Start Age</label>
          {{view Ember.Select content=hundredYears value=fields.pension_start_age}}
        </div>
      </div>
      <div {{bind-attr class='isIRA::hidden'}}>
        <div {{bind-attr class='isRoth:hidden:'}}>
          <div>
            <label>Total tax-deductible 401k assets</label>
            {{view Ember.TextField type='currency' value=fields.retirement_account_total_cents placeholder=0}}
          </div>
          <div>
            <label>Your contributions</label>
            {{view Ember.TextField type='currency' value=fields.retirement_account_contributions_cents placeholder=0}}
          </div>
          <div>
            <label>Employer contributions</label>
            {{view Ember.TextField type='currency' value=fields.retirement_account_employer_contributions_cents placeholder=0}}
          </div>
        </div>
        <div {{bind-attr class='isRoth::hidden'}}>
          <div>
            <label>Total Roth assets</label>
            {{view Ember.TextField type='currency' value=fields.retirement_account_total_cents placeholder=0}}
          </div>
          <div>
            <label>Contributions</label>
            {{view Ember.TextField type='currency' value=fields.retirement_account_contributions_cents placeholder=0}}
          </div>
        </div>
        <div>
          <label>Age you start to withdraw</label>
          {{view Ember.Select content=hundredYears value=fields.retirement_account_withdrawal_start}}
          <label>Age you stop withdrawal</label>
          {{view Ember.Select content=hundredYears value=fields.retirement_account_withdrawal_end}}
        </div>
        <div>
          <label>Withdraw roths first or last</label>
          {{view Ember.Select content=order value=fields.withdrawal_order}}
        </div>
      </div>
      <div {{bind-attr class='isSS::hidden'}}>
        <label>Currently Collecting?</label>
        {{view Ember.Checkbox checked=collecting}} 
        <div {{bind-attr class='collecting::hidden'}}>
          <div>
            <label>Monthly Benefit</label>
            {{view Ember.TextField type='currency' value=fields.ss_monthly_benefits_cents placeholder=0}}
          </div>
        </div>
        <div {{bind-attr class='collecting:hidden:'}}>
          <div>
            <label>Age you start collecting</label>
            {{view Ember.Select content=hundredYears value=fields.ss_collecting_start}}
          </div>
          <div>
            <label>Estimated Monthly Benefit</label>
            {{view Ember.TextField type='currency' value=fields.ss_monthly_benefits_cents placeholder=0}}
          </div>
        </div>
        <label>Benefits Cut?</label>
        {{view Ember.Checkbox checked=benefitsCut}} 
        <div {{bind-attr class='benefitsCut:hidden:'}}>
          <div>
            <label>Start Date</label>
            {{input type='date' value=fields.ss_benefits_cut_start}}
          </div>
          <div>
            <label>Cut Percentage</label>
            {{input type='percentage' value=fields.ss_benefits_cut_percentage}}
          </div>
        </div>
      </div>
    </fieldset>
    {{view Ember.Select content=possible_owners selection=owner_id}}
    <a href="#" {{action "saveChanges"}} class="btn btn-success">Add Account</a>
  </fieldset>
  <a href="#" {{action "saveChangesTransition"}} class="btn btn-success">Next</a>
</form>
